*
{ margin:0;
  padding:0;
}

.image
{  position: absolute;
   width: 200px;
 left:0;

}
.header
{
    background-image:url('images/background.jpeg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
.links {
    background:white;
    text-align:center;
    position:relative;
    top:0;
    width:100%;
    height:30%;
    
}
.links ul{
    display:inline-flex;
    list-style: none;
    color:black;
    padding-left: 50px;
   
}
.links ul li{
    width:120px;
    margin:15px;
    
    padding:20px;
}
.links a
{
    list-style: none;
    text-decoration: none;
    color:black;
}
.links li:hover
{
    background-color:#ff8400;
    border-radius:30px;
}
.caption
{   position:absolute;
    top:60%;
    left:5%;
    transform:translate(-5%,-60%);
    text-align:center;
    font-size:38px;
    color:white;
    font-family: 'Bungee';
    background-size: cover;
}
.pics
{
    position:absolute;
    top:30%;
    left:5%;
    transform:translate(-5%,-30%);
    background-size: cover;
    animation-name: ani;
    animation-duration: 5s;

}
@keyframes ani {
    0% { transform: translate(1px, 1px) rotate(180deg); }
}
.container{
    width:80%;
    margin: 0 auto;
  }
  
  .details{
    text-align: center;
  }
  
  .details h2{
    color:#243238;
    font-size:50px;
    margin: 0;
  }
  
  .main-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box{
    width: 300px;
    height: 400px;
    margin: 10px;
    text-align: center;
    padding: 40px 20px;
    color: #ffffff;
    position: relative;
    z-index: 2;
    border-radius: 5px;
  
  }
  .box > * {
    position: relative;
    z-index: 2;
    color: #ffffff;
  }
  
  .box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .box:hover::before{
    width: 95%;
    height: 95%;
    transition: all ease .50s;
  }
  .box .icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    position: relative;
  }
  
  .box .icon .fas{
    color: #404044;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  hr{
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    width: 70%;
    border: 1px solid rgba(255,255,255, 0.1);
  
  }
  
  .box a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#fc7703 ;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 25px;
    display: inline-block;
    font-weight: 600 ;
  }
  .box a:hover{
    background-color:#243238 ;
  }
  
  .box .white-border{
    border: 1px solid #ffffff;
  }
  
  
  .box-grey{
    background-color:#404044 ;
  }
  
  .box-red{
    background-color:#fc7703;
  }  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  