@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,100");
*
{ margin:0;
  padding:0;
}
.header
{
    background-image:url('images/background.jpeg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
.menu{
  background: #fafafa; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 16px;
  box-shadow: 1px 1px 3px rgba(0,0,0, .5);
}
.menu ul{
  display:flex;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  list-style-type: none;
}
.menu li{
  position: relative;
  min-width: 240px; 
  border-right:solid 1px rgba(0,0,0, .2);
}
.menu li:first-child{
  border-left:solid 1px rgba(0,0,0, .2);
}
.menu a{ 
  text-decoration: none; 
  color: #000; 
  display: flex;
  padding: 20px 30px;
  transition: .5s;   
  text-transform: uppercase;
}
.menu a:hover{
  background: rgba(0,0,0,.2); 
  display:block; 
  text-indent: 24px;
  color: rgb(233, 112, 31);
}
.menu li:before{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  transform: scale(0);
  top: 50%;
  margin-top: -12px;
  transition: .2s;
  font-family: FontAwesome;
  font-size: 24px;
  color: rgb(236, 135, 19);
}
.menu li:hover:before{
  transform: scale(1);
  transition: .3s .3s;
}
.menu li a:before,
.menu li a:after{
  border-radius: 0;
  transition: 5s;
}
.menu li a:hover:before,
.menu li a:hover:after{
 content: "";
 position: absolute;
 z-index: -1;
 box-shadow: 0 0 20px rgba(0,0,0,0.6);
 top: 0;
 bottom: 0;
 left: 20px;
 right: 20px;
 border-radius: 100px / 10px;
}
.menu li#home:before{content: "\f1b0";}
.menu li#about:before{content: "\f1b0";}
.menu li#contact:before{content: "\f1b0";}
.menu li#locations:before{content: "\f1b0";}

.title h1:before{content: "\f1b0";
font-family:FontAwesome;
}

.caption
{   position:absolute;
    top:60%;
    left:5%;
    transform:translate(-5%,-60%);
    text-align:center;
    font-size:38px;
    color:white;
    font-family: 'Bungee';
    background-size: cover;
}
.pics
{
    position:absolute;
    top:30%;
    left:5%;
    transform:translate(-5%,-30%);
    background-size: cover;
    animation-name: ani;
    animation-duration: 5s;

}
@keyframes ani {
    0% { transform: translate(1px, 1px) rotate(180deg); }
}
.container{
    width:80%;
    margin: 0 auto;
  }
  
  .details{
    text-align: center;
  }
  
  .details h2{
    color:#243238;
    font-size:50px;
    margin: 0;
  }
  
  .main-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box{
    width: 300px;
    height: 400px;
    margin: 10px;
    text-align: center;
    padding: 40px 20px;
    color: #ffffff;
    position: relative;
    z-index: 2;
    border-radius: 5px;
  
  }
  .box > * {
    position: relative;
    z-index: 2;
    color: #ffffff;
  }
  
  .box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .box:hover::before{
    width: 95%;
    height: 95%;
    transition: all ease .50s;
  }
  .box .icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    position: relative;
  }
  
  .box .icon .fas{
    color: #404044;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  hr{
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    width: 70%;
    border: 1px solid rgba(255,255,255, 0.1);
  
  }
  
  .box a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background-color:orange ;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 25px;
    display: inline-block;
    font-weight: 600 ;
  }
  .box a:hover{
    background-color:#243238 ;
  }
  
  .box .white-border{
    border: 1px solid #ffffff;
  }
  
  
  .box-grey{
    background-color:#404044 ;
  }
  
  .box-red{
    background-color:#fc7703;
  }  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .footer{
    background:rgb(71, 42, 42);
    padding:1rem 7%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box-footer{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box-footer h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
    font-weight: normal;
}

.footer .box-container .box-footer p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box-footer a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--yellow);
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--yellow);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(255,255,255,.7);
    padding:2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
}

.footer .credit a{
    color:var(--yellow);
}
.pd {
  padding: 70px;
}

.no-pd {
  padding: 0;
}

.hero {
  display: bock;
  position: relative;
  overflow: hidden;
}

.box-adopt {
  display: block;
  width: 900px;
  min-height: 560px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 70px;
  color: #4d4d4d;
  position: relative;
  overflow: hidden;
}



/* Info */
.width {
  display: inline-block;
  max-width: 55%;
}

.info {
  display: inline-block;
  margin-top: 80px;
  z-index: 9;
  animation:  moveInLeft 1s ease-out 0.2s;
  animation-fill-mode: backwards;
}

.heading {
  font-family: 'Cambo', serif;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 1.2px;
  margin-bottom: 35px;
  
}

.heading-main,
.heading-second {
  display: block;
}

.heading-dsc {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 22px;
  margin-bottom: 45px;
}



/* Animale Image */
.dog-img {
  position: absolute;
  right: 15px;
  bottom: -150px;
  z-index: 1;
  animation:  moveInUp 1s ease-out .5s;
  animation-fill-mode: backwards;
}

.info-img-dog {
  width: 400px;
}

.standard-btn {
  text-decoration:none;
  border: 2px solid green;
  padding:10px 20px 10px 20px;
  border-radius:2px;
  color:black;
  margin:5px;
}
.standard-btn:hover {
  color:#FFFFFF;
  background-color:orange;
}








